.places {
    display: flex;
    justify-content: center;
    flex-direction: column;
    grid-row-gap: 80px;
    width: 100%;
    box-sizing: border-box;
}

@media screen and (max-width:984px) {
    .places {
        grid-row-gap: 73px;
    }
}

@media screen and (max-width:568px) {
    .places {
        grid-row-gap: 50px;
    }
}