.footer__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width:710px) {
    .footer__container {
        flex-direction: column;
        justify-content: flex-start;
        grid-row-gap: 48px;
    }
}