.intro__info {
    max-width: 720px;
    width: 690px;
    min-width: 288px;
}

@media screen and (max-width:1140px) {
    .lead__image{
        width: 100%;
    }
}

@media screen and (max-width:984px) {
    .intro__info {
        width: 100%;
        min-width:  500px;
    }
}

@media screen and (max-width:568px) {
    .intro__info {
        width: 100%;
        min-width: 288px;
    }
}